<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
    <a href="/Add">Add new student</a></br></br>
	<a href="/DeleteById">Delete student by id</a></br></br>
	<a href="/UpdateById">Update student by id</a></br></br>
    {{#message}}
    {{message}}
    {{/message}}
</div>
<form method="post" action="filter">
    <input type="text" name="filter" placeholder="Поиск по возрасту"/></br>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Найти</button>
</form>
<div>Список группы</div>
{{#names}}
<div>
    <b>{{id}}</b>
    <span>{{name1}}</span>
    <span>{{sname1}}</span>
    <i>{{age}}</i>
	<strong>{{authorName}}</strong>
</div>
{{/names}}
</body>
</html>